@font-face 
{
	font-family: SanFrancisco;
	src: url("font/SF-UI-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SanFrancisco;
    font-weight: bold;
    src: url("font/SF-UI-Display-Bold.otf") format("opentype");
}

body
{
	display: none;
	user-select: none;
	cursor: default;
	background: white;
	color: black;
	font-family: SanFrancisco;
	margin: 0;
	overflow: hidden;
	text-align: center;
	-webkit-app-region: drag;
}

header
{
	/* background: red; */
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	width: 100%;
	-webkit-app-region: drag;
}

hr
{
	border-color: #fff;
	margin: 0;
}

#historySerial
{
	font-size: 25px;
	margin-top: 12px;
}

#historyButton
{
	z-index: 100;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	cursor: pointer;
	font-size: 20px;
}

.historyNavigator
{
	position: absolute;
	top: 0;
	font-size: 40px;
	cursor: pointer;
}

#historyNext
{
	right: 20px;
}

#historyPrev
{
	left: 20px;
}

#historyOverlay
{
	background: #f5f4f5;
	display: none;
	z-index: 100;
	top: 40px;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

#historyTests
{
	background: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 210px;
	overflow-y: scroll;
}

#historyCycleProgress
{
	margin-top: 20px;
	width: 330px;
}

#historyCapacityProgress
{
	width: 330px;
}

#historyProgressCapacity
{
	margin-top: 20px;
}

#historyCondition
{
	font-size: 25px;
	margin-top: 20px;
}

#historyDelete
{
	font-size: 45px;
	line-height: 16px;
	height: 35px;
}

#historyDeleteButton
{
	cursor: pointer;
}

.test
{
	padding: 10px;
}

#percentText
{
	position: absolute;
	top: 40px;
	width: 100%;
	font-size: 100px;
}

#batteryIcon
{
	position: absolute;
	top: 150px;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	/* background: red; */
	border-radius: 5px;
	height: 90px;
	width: 250px;
}

#batteryBody
{
	background: white;

	border: #8E8E8E 2px solid;
	border-radius: 5px;
	height: 90px;
	width: 230px;
	z-index: 2;
}

#batteryTop
{
	background: #8E8E8E;
	position: absolute;
	top: 26px;
	right: 10px;
	border-radius: 5px;
	height: 40px;
	width: 10px;
	z-index: -1;
	
}

#batteryFill
{
	background: #4ad15e;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 3px;
	height: 86px;
	width: 0px;
}

#batteryTarget
{
	background: none;
	position: absolute;
	top: 4px;
	left: 0px;
	/* border-radius: 3px; */
	height: 83px;
	width: 0px;
	border: #8E8E8E 1px dashed;
}

#inArrow
{
	height: 100px;
	position: absolute;
	left: 36px;
	top: 185px;
}

#outArrow
{
	height: 100px;
	position: absolute;
	right: 36px;
	top: 185px;
}

#inCurrent
{
	height: 100px;
	position: absolute;
	left: 50px;
	top: 265px;
}

#outCurrent
{
	height: 100px;
	position: absolute;
	right: 50px;
	top: 265px;
}

#voltage
{
	position: absolute;
	top: 250px;
	width: 100%;
}

#condition
{
	position: absolute;
	top: 270px;
	width: 100%;
	font-size: 25px;
}

#cycleProgress
{
	position: absolute;
	top: 330px;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	width: 330px;
}

#capacityProgress
{
	position: absolute;
	top: 350px;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	width: 330px;
}

.progress
{
	position: absolute;
	width: 100%;
	font-size: 18px;
}

#progressCycles
{
	top: 310px;
}

#progressCapacity
{
	top: 370px;
}

#remaining
{
	position: absolute;
	top: 395px;
	width: 100%;
	font-size: 100px;	
}

#until
{
	position: absolute;
	top: 505px;
	width: 100%;
	font-size: 30px;	
}

#targetInput
{
	-webkit-appearance: none;
	border: none;
	position: absolute;
	top: 540px;
	left: 0;
	font-size: 33px;
	text-align: center;
	width: 100%;
	height: 60px;
	z-index: 3;
}

#targetInput:focus
{
	outline: none;
}

#targetInput:focus::-webkit-input-placeholder 
{
	color:transparent;
}



.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

#indicator
{
	color: white;
	background: #3b99fc;
	font-size: 32px;
	height: 70px;
	line-height: 70px;
	position: absolute;
	bottom: -70px;
	width: 100%;
	z-index: 100;
}

#timer
{
	height: 200px;
	width: 100%;
	background: #f5f4f5;
	position: absolute;
	top: 700px; 
	z-index: 10;
}

#time
{
	position: absolute;
	top: -5px;
	width: 100%;
	font-size: 100px;	
}

#since
{
	position: absolute;
	top: 104px;
	width: 100%;
	font-size: 30px;	
}

#button
{
	cursor: pointer;
	background: #e8e7e8;
	position: absolute;
	top: 150px;
	left: 0;
	font-size: 30px;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	z-index: 2;
}

#button:hover
{
	background: #bebebe;
}

#alertOverlay
{
	cursor: pointer;
	background: white;
	display: none;
	position: absolute;
	top: 0px;
	font-size: 80px;
	text-align: center;
	width: 100%;
	height: 700px;
	z-index: 15;
}